
body {
    /* Location of the image */
    background-image: url("clubaround.jpeg");
    
    /* Image doesn't repeat */
    background-repeat: no-repeat;
    
    background-position: center center;
    /* Makes the image fixed in the viewport so that it doesn't move when 
       the content height is greater than the image height */
    background-attachment: fixed;
    
    /* This is what makes the background image rescale based on its container's size */
    background-size: contain;
    
    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color:white;
    
    
  }
  
@media (max-width: 768px) { 
    -webkit-background-size: contain;
     -moz-background-size: contain;
     -o-background-size: contain;
     background-size: contain;

 }
      
      
